body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    text-align: center;
}

main {
    min-height: 0;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.inputSpace {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: auto auto;
}

.renderSpace {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

.inputSpace,
.renderSpace {
    margin: 10px;
    border-radius: 10px;
}

.createSection {
    grid-column: span 2;
    place-items: center;
}

.createSection input {
    display: block;
    margin-top: 50px;
}

.createSection button {
    display: block;
    margin-top: 40px;
}