body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header{
    text-align: center;
}
main{
    min-height: 0;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
.renderSpace{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
